.body3 {
    padding: 90px 50px;
  }
  
  .body3 h1, .body3 p {
    color: rgb(62, 62, 62);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* font-size: 55px; */
    font-weight: 1900;
    line-height: 40px;
  }
  
  .invest-items-container {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scrollbar-width: none; /* Hide the scrollbar for Firefox */
  -ms-overflow-style: none;

  }
  
  .invest-items {
    display: inline-flex;
    flex-wrap: nowrap;
  }
  