.invest-item{
    width: 251px;
    
    height: 271px;
    /* background-color: aqua; */
    margin-right: 10px;
    border-radius: 7px;
    
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), 0px 0px 4px rgba(0, 0, 0, 0.1); /* Apply the box shadow */
   
}
.invest-img{
    height: 40%;
    border-radius: 7px 7px 0px 0px; 
    background-position: center;
    box-shadow: 10px 10px 16px 10px rgba(0, 0, 0, 0.658) inset;
    background-size: cover;
    background-image: url("https://production-public-asset-images.s3.ap-south-1.amazonaws.com/asset-24d78e0b-b156-4dc9-b905-e25e18917a77-2");
}
.invest-item p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
    line-height: 25px;
    
}
.hr{
    height: 1px; /* Set the height of the <hr> to a thin line */
    background-color: #5555553f; /* Set the color of the <hr> */
    border: none; /* Remove any default borders */
    
    
  }

.hrr{
    padding: 3px;
    margin: 5px 0px;
    border-radius: 10px;
    border: none;
    background-color: #835494;
}
.invest-item h5{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #835494;
}
.item-dis{
    padding: 10px;
}
.item-invest{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}